* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cont {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

/* Estilização do main */
.description-doctor {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  padding: 1em;
}

.description-doctor .photo-doctor {
  border-radius: 100%;
  width: 400px;
  height: 280px;
}

.description-doctor .photo-doctor img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.description-doctor .text-doctor {
  width: 90%;
  padding: 2em;
}

.description-doctor .text-doctor p {
  font-size: 20px;
  text-align: justify;
  padding: 0.2em 0px;
}


/* Estilos para o slide */
.slide-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin: 4em auto;
}

.slide {
  position: absolute;
  width: 60%;
  height: 100%;
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para as bolinhas de navegação */
.navigation {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

@media screen and (max-width: 900px) {
  .description-doctor {
    width: 100%;
    flex-direction: column;
  }

  .description-doctor .photo-doctor {
    width: 300px;
    height: 300px;
  }

  .description-doctor .text-doctor {
    width: 100%;
    padding: 1em;
  }

  .description-text {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .description-doctor .photo-doctor {
    width: 300px;
    height: 300px;
  }

  .description-text {
    width: 100%;
    flex-direction: column;
  }

  .paragraf {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .description-doctor .photo-doctor {
    width: 100%;
    height: 20%;
    margin: auto;
  }
}
