* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cont {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

/* Estilização do main */

/* Estilização da descrição embaixo do banner */

.description-doctor {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  padding: 1em;
}

.description-doctor .photo-doctor {
  border-radius: 100%;
  width: 400px;
  height: 280px;
}

.description-doctor .photo-doctor img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.description-doctor .text-doctor {
  width: 90%;
  padding: 2em;
}

.description-doctor .text-doctor p {
  font-size: 20px;
  text-align: justify;
  padding: 1em 0px";
}

/* Estilização da descrição maior */

.description-text {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
}

.paragraf {
  width: 50%;
  padding: 1em;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .description-doctor {
    width: 100%;
    flex-direction: column;
  }

  .description-doctor .photo-doctor {
    width: 300px;
    height: 300px;
  }

  .description-doctor .text-doctor {
    width: 100%;
    padding: 1em;
  }

  .description-text {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .description-doctor .photo-doctor {
    width: 300px;
    height: 300px;
  }

  .description-text {
    width: 100%;
    flex-direction: column;
  }

  .paragraf {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .description-doctor .photo-doctor  {
    width: 100%;
    height: 20%;
    margin: auto;
  }
}