main {
    width: 100%;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.photos-wraper-single {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photos-single {
    width: 25%;
}


.photos-single img{
    width: 100%;
}


