main {
    width: 100%;
}

.imgBig {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(40, 31, 36, 0.176);
    display: none;
}

.img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}

.imgBig img {
    width: 100%;
    height: 100%;
}

.photos {
    margin-top: 4em;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.photos-wraper-single {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 0px;
}

.photos-single {
    width: 25%;
}


.photos-single img{
    width: 100%;
}


