main {
    width: 100%;
}

.title-publi {
    margin-top: 2em;
}

.publicactions-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 0px;
}

.public-single {
    width: 90%;
    margin-top: 10px;
}

.public-single .number {
    width: 100%;
}

.area-publication {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0px;
}