main {
    width: 100%;
}

.publicactions-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.public-single {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.public-single .number {
    font-size: 40px;
    padding-right: 1em;
}