* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.resource-wraper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resource-single {
    width: 30%;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: #868686;
}

.resource-single span{
    color: #ffffff;
    padding-bottom: 1em;
}

.resource-single h1{
    font-weight: 900;
    padding-bottom: 0.5em;
}

.resource-single p{
    font-size: 20px;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .resource-single {
        width: 90%;
    }
}