* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cont {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

/* Estilização do header */
header {
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
}

.links {
    padding-right: 3em;
}

.links nav ul {
    display: flex;
    list-style-type: none;
}

.links nav ul li {
    padding: 1em;
}

.links nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.links nav ul .iconsNav {
    padding: 1em;
}

.links nav ul .iconsNav i {
    padding: 0px 1em;
    font-size: 20px;
}

/* Estilização do main */

.bg-main {
    width: 100%;
    height: 300px;
}

.bg-main img {
    width: 100%;
    height: 100%;
}

.bg-main h1 {
    position: relative;
    top: -90px;
    margin: auto;
    text-align: center;
    font-size: 60px;
}

/* Estilização do banner */

.description-doctor {
    width: 800px;
    display: flex;
    margin: 2em auto;
    padding: 1em;
}

.description-doctor .photo-doctor {
    border-radius: 100%;
    width: 30%;
}

.description-doctor .photo-doctor img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.description-doctor .text-doctor {
    width: 70%;
    padding: 2em;
}

.description-doctor .text-doctor p {
    font-size: 20px;
    text-align: justify;
}

/* Estilização da descrição embaixo do banner */

.description-text {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.paragraf {
    width: 50%;
    padding: 1em;
}